<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Free CRM App Automation Test">

<listeners>
  <listener class-name= "com.qa.ExtentReportListener.ExtentReporterNG"/>
</listeners>

  <test name="Free CRM App">
    <classes>
      <class name="com.crm.qa.testcases.LandingPageTest"></class>
      <class name="com.crm.qa.testcases.LoginPageTest"></class>
      <class name="com.crm.qa.testcases.HomePageTest"></class>
      <class name="com.crm.qa.testcases.ContactsPageTest"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->